* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Red Hat Display', sans-serif;
    background-color: hsl(212, 45%, 89%);
    font-size: 15px;
}

a {
    text-decoration: none;
}

.frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 335px;
    background-color: hsl(0, 0%, 100%);
    margin: 10rem auto;
    border-radius: 15px;
    padding-bottom: 2rem;
    box-shadow: 0px 20px 30px hsl(220, 15%, 55%);
}

.qr-code {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    align-items: center;
    margin: 1rem auto;
}

.heading {
    text-align: center;
    width: 85%;
    font-weight: 700;
    margin: .5rem auto;
    font-size: 21px;
}

.paragraph {
    color: hsl(220, 15%, 55%);
    width: 80%;
    text-align: center;
    margin: .5rem auto;
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

/* tablet and mobile size */
@media (max-width:600px) {
    .frame {
        margin: 5rem auto;
    }
    
}